#home {

  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .resize {
  	max-width:550px;
  	height: auto;
  	width: auto;
  }

  .masonry-brick {
      margin: 1em;
      display: none;
  }

  .masonry-brick.loaded {
      display: block;
  }
}

