/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
$sample-track-height: 64px;
$artist-info-height: 350px;

.page { 
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  height: 100vh;
}

.no-margin-top {
  margin-top: 0;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist-image {
  height: $artist-info-height;
  margin: 0 -100%;
  float: none;
}

.artist-bio {
  height: $artist-info-height;
  text-align: left;
  overflow: scroll;

  .divider {
    border-top: 3px solid;
  }
}

.sample-tracks {
  margin: 15px 0;
  height: $sample-track-height;
}

.sample-tracks__image {
  width: 64px;
  height: 64px;
}

.sample-tracks__play-icon {
  width: 64px;
  height: 64px;

  i.fa {
    position: absolute;
    top: 34px;
    right: 46px;
  }

  .fade {
    transition: all linear 500ms;
    opacity: 1;
  }

  .fade.ng-hide {
    opacity: 0;
  }
}

.sample-tracks__text {
  width: 50px;
}

.sample-tracks__container {
  margin: 0px 22px 20px 22px;

  .sample-tracks__title {
    margin: 0;
  }

  .sample-tracks__autoplay-switch {
    margin: 0;
  }
}
