<md-toolbar layout='row' layout-align='center center'>
    <div class='md-toolbar-tools max-width' layout='row' layout-align='space-between center'>
        <h1 flex='20' class='md-flex' ng-bind='ctrl.artistDiscoveryInfo.data.name' style='text-align: left;'></h1>
        <influencer-timeline flex='70' style='overflow-x: scroll; white-space: nowrap;'></influencer-timeline>
        <div flex='10'>
            <md-button class='md-raised' ui-sref='home'>Home</md-button>
        </div>
    </div>
</md-toolbar>
<md-content layout='row' layout-align='center center'>
    <div layout='column' class='max-width'>
        <div flex='nogrow' layout='row' layout-sm='column' layout-xs='column' layout-margin>
            <md-content flex='70' flex-sm='100' flex-xs='100' class='md-padding md-whiteframe-2dp round-corners' layout='row'>
                <div flex='none'>
                    <div style='overflow: hidden; text-align: center; width: 250px;'>
                        <img class='artist-image' ng-src='{{ctrl.artistDiscoveryInfo.data.images[0].url}}' />
                    </div>
                </div>
                <div flex='auto' class='artist-bio' layout-margin>
                    <p ng-if='ctrl.artistDiscoveryInfo.bio' ng-bind='ctrl.artistDiscoveryInfo.bio.text'></p>
                    <div class='artist-bio__no-bio' ng-if='!ctrl.artistDiscoveryInfo.bio'>
                        <div class='artist-bio__no-bio__image'>
                            <i class='fa fa-4x fa-file-text-o'></i>
                        </div>
                        <p ng-bind='ctrl.noBioMessage' class='artist-bio__no-bio__text'></p>
                    </div>
                </div>
            </md-content>
            <md-content flex='30' flex-sm='100' flex-xs='100' class='md-padding md-whiteframe-2dp round-corners'>
                <sample-tracks tracks='ctrl.artistDiscoveryInfo.topTracks'></sample-tracks>
            </md-content>
        </div>
        <div flex='initial'>
            <h4 class='md-title' style='text-align: center; margin: 0'>Influencers</h4>
            <influnecers artists='ctrl.influencers'></influnecers>
        </div>
    </div>
</md-content>
