body {
  background: #4366B6;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'discover/main';
